#page {
 display: grid;
 grid-template-rows: max-content max-content; 
 justify-content: center;
 margin-top: 1rem;
 row-gap: 1rem;
}

:root {
  --terminal-width: 80ch;
  --terminal-height: 40ch;
}

#terminal {

  position: relative;

  font-family: 'Source Code Pro Variable', monospace;
  font-size: 16px;
  line-height: 1.2;

  width: var(--terminal-width);
  height: var(--terminal-height);

  overflow: hidden;
  
  border: solid 1px hotpink;
  background-color: black;
  color: white;
}

.terminal-cell {
  position: absolute;
  white-space: pre;
}

#input {
  width: var(--terminal-width);
  font-family: 'Source Code Pro Variable', monospace;
  font-size: 16px;
}
