#page {
 display: grid;
 grid-template-rows: max-content max-content; 
 justify-content: center;
 margin-top: 1rem;
 row-gap: 1rem;
}

#terminal {

  position: relative;

  font-family: 'Source Code Pro Variable', monospace;
  font-size: 16px;
  line-height: 1.1;

  width: calc(var(--terminal-width) * 1ch);
  height: calc(var(--terminal-height) * 1lh);

  overflow: hidden;
  
  border: solid 1px hotpink;
  background-color: black;
  color: white;

  cursor: text;
}

.terminal-cell {
  position: absolute;
  white-space: pre;
}

.terminal-echo {
  position: absolute;
  white-space: pre;
}

.terminal-cursor {
  position: absolute;
  width: 1ch;
  height: 1lh;
  outline: 1px solid currentColor;
  pointer-events: none;
}

#input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  left: -10000px;
  top: 0;
}
