body {
  min-height: 100vh;

  button {
    background-color: #333333;
    color: #eeeeee;
    cursor: pointer;
  }

  #display,
  #input {
    font-family: 'Source Code Pro Variable';
    width: 80ch;
    color: #eeeeee;
    font-size: 18px;
    box-sizing: content-box;
    grid-column: 2 / 3;
    padding: 0;
    overflow: visible;
  }

  #root {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: max-content max-content max-content;
    row-gap: 1rem;
  }

  #display {
    margin-top: 1rem;
    height: 40ch;
    width: 80ch;
    border: solid 1px hotpink;
    position: relative;
  }

  #input {
    border: solid 1px hotpink;
    background-color: transparent;
    border-radius: 0;
    outline: none;
  }

  #actions {
    grid-column: 2 / 3;
    border: solid 1px #333333;
    padding: 0.5rem;
  }

}