/* Hack Nerd Font */
@font-face {
	font-family: "Hack Nerd Font";
	src: url("/catty/fonts/HackNerdFont-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font";
	src: url("/catty/fonts/HackNerdFont-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font";
	src: url("/catty/fonts/HackNerdFont-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font";
	src: url("/catty/fonts/HackNerdFont-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Hack Nerd Font Mono */
@font-face {
	font-family: "Hack Nerd Font Mono";
	src: url("/catty/fonts/HackNerdFontMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font Mono";
	src: url("/catty/fonts/HackNerdFontMono-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font Mono";
	src: url("/catty/fonts/HackNerdFontMono-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font Mono";
	src: url("/catty/fonts/HackNerdFontMono-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Hack Nerd Font Propo */
@font-face {
	font-family: "Hack Nerd Font Propo";
	src: url("/catty/fonts/HackNerdFontPropo-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font Propo";
	src: url("/catty/fonts/HackNerdFontPropo-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font Propo";
	src: url("/catty/fonts/HackNerdFontPropo-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Hack Nerd Font Propo";
	src: url("/catty/fonts/HackNerdFontPropo-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
