---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/caTTY/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>caTTY</title>
    <style is:global>
      body {
        font-family: "Inter Variable", system-ui;
        font-size: 16px;
        margin: 0;
        padding: 0;
        background-color: #1a1a1a;
        color: #eeeeee;
      }
    </style>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
